parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 8
			path: src/Relation.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:with\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Relation.php

		-
			message: '#^Cannot access property \$country on array\|bool\|float\|int\|object\|string\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/EntityTest.php

		-
			message: '#^Cannot access property \$profile on array\<int\|string, array\<int\|string, bool\|float\|int\|object\|string\|null\>\|bool\|float\|int\|object\|string\|null\>\|object\.$#'
			identifier: property.nonObject
			count: 2
			path: tests/EntityTest.php

		-
			message: '#^Cannot access property \$user_id on array\|bool\|float\|int\|object\|string\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/EntityTest.php

		-
			message: '#^Parameter \#1 \$row of method Tests\\Support\\Models\\UserModel\:\:insert\(\) expects array\<int\|string, bool\|float\|int\|object\|string\|null\>\|object\|null, array\<string, array\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/EntityTest.php

		-
			message: '#^Cannot access property \$country on array\|bool\|float\|int\|object\|string\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/ModelTest.php

		-
			message: '#^PHPDoc tag @var with type CodeIgniter\\Entity\\Entity is not subtype of native type Tests\\Support\\Entities\\User\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/ModelTest.php

		-
			message: '#^Parameter \#1 \$row of method Tests\\Support\\Models\\UserModel\:\:insert\(\) expects array\<int\|string, bool\|float\|int\|object\|string\|null\>\|object\|null, array\<string, array\<string, string\>\|string\> given\.$#'
			identifier: argument.type
			count: 2
			path: tests/ModelTest.php

		-
			message: '#^Parameter \#2 \$row of method Tests\\Support\\Models\\UserModel\:\:update\(\) expects array\<int\|string, bool\|float\|int\|object\|string\|null\>\|object\|null, array\<string, array\<string, string\>\|string\> given\.$#'
			identifier: argument.type
			count: 2
			path: tests/ModelTest.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/TransformRelationIdsTest.php

		-
			message: '#^Call to function method_exists\(\) with \$this\(CodeIgniter\\Model@anonymous/tests/TransformRelationIdsTest\.php\:52\) and ''transformAllRelatio…'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: tests/TransformRelationIdsTest.php

		-
			message: '#^Parameter \#1 \$row of method Tests\\Support\\Models\\UserModel\:\:insert\(\) expects array\<int\|string, bool\|float\|int\|object\|string\|null\>\|object\|null, array\<string, array\<int\|string, array\<string, int\|list\<array\<string, int\|string\>\>\|string\>\|string\>\|string\> given\.$#'
			identifier: argument.type
			count: 1
			path: tests/_support/Database/Seeds/SeedTests.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/AddressModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/CommentModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/CompanyModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/CountryModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/CourseModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/PostModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/ProfileModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/StudentModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/UserModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/UuidCommentModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/UuidPostModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/UuidProfileModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/UuidUserModel.php
