parameters:
	ignoreErrors:
		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 8
			path: src/Relation.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:with\(\)\.$#'
			identifier: method.notFound
			count: 1
			path: src/Relation.php

		-
			message: '#^Cannot access property \$profile on array\<mixed\>\|object\.$#'
			identifier: property.nonObject
			count: 2
			path: tests/EntityTest.php

		-
			message: '#^Cannot access property \$courses on array\<mixed\>\|object\.$#'
			identifier: property.nonObject
			count: 2
			path: tests/ManyTest.php

		-
			message: '#^PHPDoc tag @var with type CodeIgniter\\Entity\\Entity is not subtype of native type Tests\\Support\\Entities\\User\.$#'
			identifier: varTag.nativeType
			count: 1
			path: tests/ModelTest.php

		-
			message: '#^Cannot access property \$posts on array\<mixed\>\|object\.$#'
			identifier: property.nonObject
			count: 1
			path: tests/ThroughTest.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/TransformRelationIdsTest.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/AddressModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/CommentModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/CompanyModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/CountryModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/CourseModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/PostModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/ProfileModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/StrictUserModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/StudentModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/UserModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/UuidCommentModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/UuidPostModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/UuidProfileModel.php

		-
			message: '#^Call to an undefined method CodeIgniter\\Model\:\:getTable\(\)\.$#'
			identifier: method.notFound
			count: 5
			path: tests/_support/Models/UuidUserModel.php
